<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>البلد</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-right">
      <img src="{% static 'Alexandra_CC_Logo.jpg' %}" alt="Company Logo" class="logo">
      <label id="header">الغرفة التجارية</label>
    </div>
    <button class="menu-btn" onclick="toggleSidebar()">☰</button>
  </nav>
  
  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <a href="javascript:void(0)" onclick="toggleSidebar()">✖</a>
    <a href="{% url 'index' %}">الصفحة الرئيسية</a>
    <a href="{% url 'filter' %}">تصفية</a>
    <a href="{% url 'cargo' %}">البضائع</a>
    <a href="{% url 'country' %}">البلد</a>
  </div>
  
  <!-- Page Content -->
  <div class="container">
    <h1>البلد</h1>  
  <!-- Table Div -->
  <div class="table-container">
    <table id="resultsTable">
      <thead>
        <tr>
          <th>اسم الدولة</th>
          <th>الإجراءات</th>
        </tr>
      </thead>
      <tbody>
        {% for country in countries %}
          <tr data-country-id="{{ country.id }}">
            <td>{{ country.CountryName }}</td>
            <td>
              <button onclick="editCountry({{ country.id }}, '{{ country.CountryName }}')">تعديل</button>
            <!--  <button onclick="deleteCountry({{ country.id }})">حذف</button> -->
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">لا توجد بيانات</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>
