<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>تصفية</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

  <nav class="navbar">
    <div class="navbar-right" dir="ltr">
      <label id="headerRight2">نظام شهادة المصدر والمنشأ | </label>
      <label id="headerRight"> الغرفة التجارية المصرية بالاسكندرية </label>
      <img src="{% static 'ACOC_Logo_Final[1].png' %}" alt="Company Logo" class="logo">
    </div>

    <div class="navbar-left" dir="rtl">
      <label id="headerLeft2"> Origin Certificate System | </label>
      <label id="headerLeft"> Alexandria Chamber of Commerce </label>
    </div>

    <button class="menu-btn" onclick="toggleSidebar()">☰</button>
  </nav>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <a href="javascript:void(0)" onclick="toggleSidebar()">✖</a>
    <a href="{% url 'index' %}">الصفحه الرئيسيه</a>
    <a href="{% url 'filter' %}">تصفيه</a>
    <a href="{% url 'cargo' %}">البضائع</a>
    <a href="{% url 'country' %}">البلد</a>
    <a href="{% url 'report' %}">التقرير</a>
  </div>

  <!-- Main Content Wrapper -->
  <div class="content-wrapper">
    <!-- Page Content -->
    <div class="container">
      <!-- Edit Modal -->
      <div id="editModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeEditModal()">&times;</span>
          <h2>تعديل الشهادة</h2>
          <form id="editForm">
            <input type="hidden" id="certificateId" name="certificateId">
            <div class="form-row">
              <!-- First Column -->
              <div class="form-container">
                <div class="form-group">
                  <label for="companyStatus">حالة المنشأه:</label>
                  <select id="companyStatus" required>
                    <option value="مقيد">مقيد</option>
                    <option value="غير مقيد">غير مقيد</option>
                  </select>
                </div>    
                <div class="form-group">
                  <label for="office">اسم المكتب:</label>
                  <select id="office" required>
                    <option value="">اسم المكتب</option>
                    <option value="عام">عام</option>
                    <option value="شرق">شرق</option>
                    <option value="برج العرب">برج العرب</option>
                  </select>
                </div>
                
                <div class="form-group">
                  <label for="registrationNumber">رقم السجل:</label>
                  <input type="text" id="registrationNumber" placeholder="رقم السجل" required>
                </div>              
                <div class="form-group">
                  <label for="companyName">اسم الشركة:</label>
                  <input type="text" id="companyName" required>
                </div>
                <div class="form-group">
                  <label for="companyAddress">عنوان الشركة:</label>
                  <input type="text" id="companyAddress" required>
                </div>
                <div class="form-group">
                  <label for="companyType">نوع الشركة:</label>
                  <select id="companyType" required>
                    <option value="" disabled selected>اختر نوع الشركه</option>
                    <option value="شركه">شركه</option>
                    <option value="فردي">فردي</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="certificateNumber">رقم الشهادة:</label>
                  <input type="text" id="certificateNumber" required>
                </div>
                <div class="form-group">
                  <label for="cargo">البضاعه:</label>
                  <select id="cargo" required>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exportCountry">بلد التصدير:</label>
                  <select id="exportCountry" required>
                  </select>
                </div>
              </div>
              <!-- Second Column -->
              <div class="form-container">
                <div class="form-group">
                  <label for="originCountry">بلد المنشأ:</label>
                  <select id="originCountry" required>
                    <option value="مصر" selected>مصر</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="processDate">تاريخ العملية:</label>
                  <input type="date" id="processDate" required>
                </div>
                <div class="form-group">
                  <label for="receiptNumber">رقم الايصال:</label>
                  <input type="text" id="receiptNumber" required>
                </div>
                <div class="form-group">
                  <label for="receiptDate">تاريخ الايصال:</label>
                  <input type="date" id="receiptDate" required>
                </div>
                <div class="form-group">
                  <label for="paymentAmount">القيمة المدفوعة:</label>
                  <input type="number" id="paymentAmount" required>
                </div>
                <!-- New Inputs for Quantity -->
                <div class="form-group">
                  <label for="quantity">القيمة (الكمية):</label>
                  <input type="number" step="0.01" id="quantity" placeholder="أدخل القيمة" required>
                </div>
                <div class="form-group">
                  <label for="quantity_unit">نوع الوحدة:</label>
                  <select id="quantity_unit" required>
                    <option value="" disabled selected>اختر نوع الوحدة</option>
                    <option value="طن">طن</option>
                    <option value="كجم">كجم</option>
                    <option value="وحده">وحده</option>    
                  </select>
                </div>
                <!-- New Inputs for Cost using django-money -->
                <div class="form-group">
                  <label for="cost_amount">التكلفة:</label>
                  <input type="number" step="0.01" id="cost_amount" placeholder="أدخل التكلفة" required>
                </div>
                <div class="form-group">
                  <label for="cost_currency">نوع العملة:</label>
                  <select id="cost_currency" required>
                    <option value="" disabled selected>اختر نوع العملة</option>
                    <option value="USD">دولار</option>
                    <option value="EUR">يورو</option>
                    <option value="EGP">جنيه مصري</option>
                  </select>
                </div>
              </div>
            </div>
            <button id="modalEditButton" onclick="submitEditModal()">تعديل</button>
          </form>
        </div>
      </div>

      <h1>تصفية</h1>
      <div class="filter">
        <div class="form-group">
          <label for="filterOffice">اسم المكتب:</label>
          <select id="filterOffice">
            <option value="">اختر مكتب</option>
            <option value="عام">عام</option>
            <option value="شرق">شرق</option>
            <option value="برج العرب">برج العرب</option>
          </select>
        </div>
        <div class="form-group">
          <label for="filterRegistrationNumber">رقم السجل:</label>
          <input type="text" id="filterRegistrationNumber" placeholder="ادخل رقم السجل">
        </div>
        <!-- Search button triggers the JavaScript function -->
        <button id="searchButton" onclick="searchCertificates()">بحث</button>
      </div>
      
      <!-- Table Div (Below) -->
      <div class="table-container">
        <table id="resultsTable">
          <thead>
            <tr>
              <th>اسم المكتب</th>
              <th>رقم السجل</th>
              <th>رقم الشهادة</th>
              <th>اسم الشركة</th>
              <th>عنوان الشركة</th>
              <th>حالة المنشأه</th>
              <th>نوع الشركة</th>
              <th>البضاعة</th>
              <th>بلد التصدير</th>
              <th>بلد المنشأ</th>
              <th>تاريخ العملية</th>
              <th>القيمة</th>
              <th>التكلفة</th>
              <th>رقم الايصال</th>
              <th>تاريخ الايصال</th>
              <th>القيمة المدفوعة</th>
              <th>تعديل</th>
              <th>حذف</th>
            </tr>
          </thead>
          <tbody>
            <!-- Rows will be added dynamically -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>This website and system have been developed by the Alexandria Chamber of Commerce IT Department. 
      For any inquiries, please contact the IT Department via email at it@alexandria-chamber.com.
      Unauthorized access, misuse, or any illegal activities related to this system are strictly prohibited and may result in legal action. 
      All activities on this platform are monitored and logged for security purposes.</p>
      <img src="{% static 'ACOC.png' %}" alt="Footer Image" class="footer-img">
  </div>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>
